name: Build and deploy

on: [push, pull_request]

jobs:
  build_wheels:
    name: Build wheels on ${{ matrix.os }}
    runs-on: ${{ matrix.runs-on }}
    strategy:
      matrix:
        os: [linux, windows, macos, ios, android]
        include:
          - os: linux
            runs-on: ubuntu-22.04
          - os: windows
            runs-on: windows-2022
          - os: macos
            runs-on: macos-latest
          - os: ios
            runs-on: macos-14
          - os: android
            runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Set up QEMU
        if: runner.os == 'Linux'
        uses: docker/setup-qemu-action@v3
        with:
          platforms: all
      - name: Enable KVM group perms
        if: matrix.os == 'android'
        run: |
            echo 'KERNEL=="kvm", GROUP="kvm", MODE="0666", OPTIONS+="static_node=kvm"' | sudo tee /etc/udev/rules.d/99-kvm4all.rules
            sudo udevadm control --reload-rules
            sudo udevadm trigger --name-match=kvm
      # Used to host cibuildwheel
      - name: Build wheels
        uses: pypa/cibuildwheel@v3.1.4
        env:
          # configure cibuildwheel to build native archs ('auto'), and some emulated ones
          CIBW_PLATFORM: ${{ matrix.os }}
          CIBW_ARCHS_LINUX: auto aarch64 ppc64le
          CIBW_ARCHS_MACOS: x86_64 arm64 universal2
          CIBW_ARCHS_IOS: arm64_iphoneos arm64_iphonesimulator x86_64_iphonesimulator
          CIBW_ARCHS_ANDROID: x86_64 arm64_v8a
          # cannot test the arm64 part for CPython 3.8 universal2/arm64, see https://github.com/pypa/cibuildwheel/pull/1169
          CIBW_TEST_SKIP: cp38-macosx_arm64
          # pypy will need to be enabled for cibuildwheel 3
          CIBW_ENABLE: pypy
      - uses: actions/upload-artifact@v4
        with:
          name: artifacts-${{ matrix.os }}
          path: ./wheelhouse/*.whl

  build_sdist:
    name: Build source distribution
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Build sdist
        run: pipx run build --sdist
      - uses: actions/upload-artifact@v4
        with:
          name: artifacts-sdist
          path: dist/*.tar.gz

  pypi_upload:
    name: Publish to PyPI
    needs: [build_wheels, build_sdist]
    runs-on: ubuntu-latest
    if: github.event_name == 'push' && startsWith(github.ref, 'refs/tags')
    steps:
    - uses: actions/setup-python@v5
    - uses: actions/download-artifact@v4
      with:
        pattern: artifacts-*
        path: dist
        merge-multiple: true
    - name: Publish package
      uses: pypa/gh-action-pypi-publish@release/v1
      with:
        verbose: true
        user: __token__
        password: ${{ secrets.pypi_password }}
